<section class="my-footer">
    <div class="container">
      <span class="header1" id="three"><strong>About us</strong></span><br><br>
      <span id="three">E-Book store Where you search a book based on your choice</span><br>
     <br>
     <div class="contactus">
      <span class="header1" id="two"><strong>Contact  Us</strong></span><br></br>
            <ul class="iconfooter">
              <li id="abc"><i class="fas fa-map-marker-alt" id="one"></i>Naxal, kathmandu</li> <br><br>
              <li id="abc"><i class="fas fa-phone"></i> 98120000</li><br><br>
              <li id="abc"><i class="fas fa-envelope"></i> ebookstore@gmail.com</li><br><br>
            </ul>
        </div>
      <div class="socialinfo">
        <ul class="iconfooter">
          <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>  
        </ul>
    </div>
      <br>
      <p class="four">Copyright © 2023. All rights reserved.</p>
    </div>
  </section>

<style>
  .my-footer {
    background-color: #26272b;
    padding: 20px;
    font-size: 14px;
    height:230px;
    
  }
  
  .my-footer p {
    margin-bottom: 10px;
    color:white;
    text-align: center;
  }
  .my-footer span{
    color:white;
    margin-left:-120px;
  }
  
  .my-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .my-footer li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .my-footer li:last-child {
    margin-right: 0;
  }
  /* Make the icons white */
  .my-footer iconfooter {
    color: #fff !important;
  }
  
  /* Add hover effect */
  .my-footer ul li a:hover {
    opacity: 0.8;
  }
  
  /* Change icon color on hover */
  .my-footer ul li a:hover i {
    color: #ccc !important;
  } 

  #abc{
    color:white;
  }
  .contactus{
    float:right;
    margin-top:-65px;
  }
 .header1{
  font-size:20px;
  margin-left:-50px;
 }
 #one{
  margin-right:5px;
 }
 #two{
  margin-left:0px;
 }
 #three{
  margin-left:-5px;
 }
 .socialinfo{
  margin-top:20px;
  font-size:30px;
  color:white;
  margin-left:150px;
 }
 .four{
  margin-left:150px;
 }
</style>